.root_container {
    -fx-background-color: #FFF0DB;
}

.header_container {
    -fx-background-color: #1B2631;
}

#timerBar {
    -fx-accent: #1B2631;
}

#timerBar > .bar {
    -fx-background-radius: 0;
}

#timerBar > .track {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #FFF0DB;
}

#tileVbox {
    -fx-background-color: #CD3535;
}

.pause_button {
    -fx-background-color: #FFE9CB;
    -fx-background-radius: 0px;
}

.pause_button:hover {
    -fx-background-color: #FCECDC;
}

.countdown {
    -fx-text-fill: #FEFFFD;
}

.side_containers {
    -fx-background-color: #CD3535;
}

.score_container {
    -fx-background-color: #FFE9CB;
}

#scoreLabel {
    -fx-text-fill: #242323;
}

#currentScoreLabel {
    -fx-text-fill: #242323;
}

#bestScoreDisplayLabel {
    -fx-text-fill: #FEFFFD;
}

#bestScoreLabel {
    -fx-text-fill: #FEFFFD;
}