#rootVbox {
    -fx-background-color: #FFFBDB;
}

#headerHbox {
    -fx-background-color: #FFF66F;
}

#headerLabel {
    -fx-text-fill: #242323;
}

#buttonVbox {
    -fx-background-color: #D9D5BC;
}

#easyButton {
    -fx-background-color: #363636;
    -fx-text-fill: #59CC5D;
}

#easyButton:hover {
    -fx-background-color: #242323;
}

#mediumButton {
    -fx-background-color: #363636;
    -fx-text-fill: #FBD82D;
}

#mediumButton:hover {
    -fx-background-color: #242323;
}

#hardButton {
    -fx-background-color: #363636;
    -fx-text-fill: #FF4747;
}

#hardButton:hover {
    -fx-background-color: #242323;
}

#settingsButton {
    -fx-background-color: #363636;
    -fx-text-fill: #F6F5F2;
}

#settingsButton:hover {
    -fx-background-color: #242323;
    -fx-text-fill: #F6F5F2;
}